.body{
  font-style: sans-serif;
  background: rgba(0, 0, 0, 0.5);
}
*{
  padding: 0;
  margin: 0;
}
.page-content{
  margin-top: 10%;
}
.cart__product {
  margin-left: 3%;
  width: 800px;
  height: auto;
}
.products--list {
  border: 2px solid black;
  border-radius: 5px;
}
.products--list ul {
  list-style-type: none;
}
.products--list ul li{
  margin: 1rem;
  display: flex;
  width: 90%;
  height: auto;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26)!important;
}
.product {
  position: relative;
  height: 150px;
  width: 100%;
}
.product-img {
  margin: 10px;
  position: relative;
  width: 100px;
  height: 100px;
}
.product-img img{ 
  max-width: 100px;
  max-height: 100px;
} 
.product-content {
  position: relative;
  bottom: 110px;
  left: 120px;
  width: 380px;
  font-size: 16px;

}
.product-content .name {
  border-bottom: solid 0.5px rgba(0, 0, 0, 0.1);
  padding-bottom: 5px;
  text-decoration: none;
}
.category {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.5)
}
.product-price {
  position: absolute;
  top: 20px;
  right:0px;
  text-align: center;
  height: 100%;
  width: 150px;
}
.product-price .item-price {
  margin: 10px;
}
.product-price .product-quantity {
  text-align: center;
  margin-top: 10px;
}
.product-quantity--update{
  position: absolute;
  height: 40px;
  line-height: 40px;
  left: 18px;
  top: 30px;
}
.product-quantity--update input {
  height: 20px;
  width: 50px;
}
.product-quantity--update a {
  border: 1px solid;
}
.cart__price {
  position: fixed;
  width: calc(100% - 900px);
  top: 170px;
  left: 68%;
  margin-right: 2%;
}
.address {
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26)!important;
  height: 130px;
  padding: 10px;
  position: relative;
  border-radius: 10px;
}
.heading {
  display: flex;
  margin: 0px 0px 15px;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.title {
  margin: 0px 0px 10px;
}
.title .name {
  margin-right: 10px;
}
.title .phone {
  margin-left: 10px;
  /* border-left: solid 0.1px rgba(0, 0, 0, 0.1); */
  display: inline-block;
}
.user-address {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}
.coupon {
  
}
.total-price {
  margin-top: 10px;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26)!important;
  height: 120px;
  padding: 10px;
  position: relative;
  border-radius: 10px;

}
.prices-item {
  display: inline-block;
  border-bottom: solid 0.2px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.prices-item .text {
  margin: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}
.money {
  float: right;
  margin-right: 2rem;
  text-align: center;
}
.price-total {
  padding-top: 10px;
}
.price-total .text {
  margin: 1.5rem;
  color:red;
  font-weight: bold;
}
