/* Utils */
.left{
    float:left
}

/* Style */
.header-container{
    width: 100%;
    height: 100%;
}
.header-container--list{
    margin: 8px;
}
.header-container--list li{
    display:inline-block;
    float: left;
    vertical-align: top;
    width: 150px;
    text-align: center;
}
.header-container__top{
    background-color: white;
    width: 100%;
    height: 40px;
}
.header-container__top--left{
    float: left;
}
.header-container__top--left ul {
    width: 100%;
    padding-left: 10px;
}
.header-container__top--right{
    float: right;
}
.header-container__top--right ul {
    width: 100%;
}

.header-container__mid{
    border: 1px solid lightgray;
    width: 100%;
    height: 100px;
}
.header-container__mid--logo{
    border: 1px solid lightgray;
    width: 150px;
    height: 100%;
    /* margin: 35px 100px 0px 100px; */
}
.header-container__mid--search{
    border: 1px solid lightgray;
    height: 100%;
    width: 1000px;
}
.header-container__mid--search form{
    margin: 30px 200px 0px 200px;
}
.header-container__mid--search input{
    width: 500px;
}
.header-container__mid--cart{
    border: 1px solid lightgray;
    height: 100%;
    width: 128px;
}
.header-container__mid--cart i {
    margin-left: 100px;
    margin-top: 35px;
}

.header-container__bottom{
    height: 100%;
    width: 100%;
}
.header-container__bottom--menu{
    width: 100%;
    height: 100%;
    margin-left: 200px;
}
.header-container__bottom--menu li {
    height: 100%;
    background-color: gray;
    display:inline-block;
    float: left;
    vertical-align: top;
    width: 150px;
    text-align: center;
}