* {
    margin: 0;
    padding: 0;
}
/* Utils */
.body {
    font-style: sans-serif;
}
.left{
    float:left;
}

/* Style */
.header__container--logo{
    width: 20%;
}

.header__container--logo--img img {
    background-color: #343a40; 
    width: 50px;
    height: auto;
    border-radius: 50%;
}
.header-container--logo--text {
    display: flex;
    height: 60px;
    /* align-items: center; */
    line-height: 60px;
    color: white;
}
.header-container--logo--text a {

    text-decoration: none;
}
.header-container--manage{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.header-container{
    height: 100px;
}
.header-container--search{
    position: relative;
    height: auto;
    right: 30%;
    left: 0;
}
.header-container--search form{
    
}
.header-container--search input{
    width: 500px;
}
.header-container--search button {
    margin-left: 10px;
    position: absolute;
    width: 6%;
    border: solid rgba(255, 255, 255, 1) 1px;
    border-radius: 50%;
    height: 100%;
}
.header__user{
    position: relative;
    top: 10%;
}

.header__user ul{
    list-style-type: none;
    text-align: center;
}
.header__user ul li {
    display: inline-table;
    width: 120px;
    height: 40px;
    line-height: 40px;
    position: relative;
}
.header__user ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.header__user ul li a:hover {
    color: rgb(189, 189, 189);
}
.header__user ul li > .header__user--account {
    display: none;
}
.header__user ul li:hover .header__user--account{
    display: block;
}
.header__user--account{
    background: white;
    width: 200px;
    position: absolute;
    top: 40px;
    right: -30px;
    border-radius: 3px;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26)!important;
}
.header__user--account li a{
    background: white;
    display: block;
    width: 150px;
}

.header__user ul li > .header__user--cart{
    display: none;
    position: absolute;
    top: 100%;
    right: 15%;
}
.header__user ul li:hover .header__user--cart{
    display: block;
}
.header__user--cart{
    background: white;
    width: 500px;
    position: absolute;
    top: 30px;
    right: -10px;
    border-radius: 3px;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26)!important;
}
.shopping-cart-header {
    border-bottom: 1px solid #5a5a5a;
    /*padding-bottom: 15px;*/
}
.shopping-cart-total {
    float: right;
}

.badge{
    background-color: red;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.shopping-cart-item {
    padding-top: 20px;
}
.shopping-cart-item li {
    margin-bottom: 18px;
    width: 500px !important;
    border-bottom: 1px solid #E8E8E8;
}
.shopping-cart-item img{
    float: left;
    margin-right: 12px;

}
.shopping-cart-item span {
    text-align: left;
}
.item-name{
    display: block;
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 15ch;
}
.item-quantity {
    width: 70%;
    font-size: 14px;
    float: left;
    height: auto;
}
.item-quantity input {
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.item-quantity input[type=button]{
    width: 25px;
}
.item-cancel{
    position: relative;
    float: right;
    bottom: 15%;
    right: 10%;
    text-align: center;
}
.item-price{
    position: absolute;
    font-size: 14px;
    text-overflow: ellipsis;
    left: 27%;
    bottom: 5%;
}
.login-register__modal {
    background-color: white;
    position: fixed;
    top: 25%;
    left: 42.5%;
    margin-top: -50px;
    margin-left: -100px;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26)!important;
}
.login-register__modal .modal__login {
    display: none;
    width: 400px;
    height: 300px;

}
.login-register__modal .modal__login h3 {
    margin-top: 20px;
    text-align: center;
}
.login-register__modal .modal__login form{
    margin: 30px;
} 
.login-register__modal .modal__login form label {
    text-align: center;
}
.login-register__modal .modal__login form input {
    float: right;
    margin-right: 10px;
    width: 200px;
}
.login-register__modal .modal__login a {
    position: absolute;
    left: 25%;
    top: 70%;
    width: 200px;
    height: 50px;
    line-height: 40px;
}

.advertisement {
    height: 350px;
    border-bottom: 1px solid black;
    margin-top: 10%;
}
.headerFotorama { 
    position: absolute;
    left: 25%;
}
.submenu{
    position: absolute;
    width: fit-content;
    height: auto;
    top: 24%;
    left: 10%;
}
.submenu ul {
    list-style-type: none;
    height: 250px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26)!important;

}
.submenu ul li {
    display: table;
    text-align: center;
    width: 150px;
    align-self: center;
    height: 40px;
    line-height: 40px;
}
.submenu ul li:hover {
   background-color:rgba(0,0,0,.5);
}
.submenu ul li a {
    margin: 5%;
    padding: 10px;
    text-decoration: none;
}
.rightmenu {
    position: absolute;
    right: 5%;
    top: 25%;
}
.rightmenu img{
    width: 250px;
    margin: 5px;
}
.modal {
    margin-top: 5%;
    position: fixed;
}

.form-title{
    font-weight: bolder;
    text-align: center;
    padding-top: 30px;
}

.form-group{
    padding-left: 30px;
    padding-right: 30px;
}
.lb{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.forgot-pass{
    color: black;
    margin-left: 350px;
    padding-bottom: 10px;
    text-decoration: none;
}
.btn-reg {
    width: 120px;
    text-align: center;
    border-radius: 10px;
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 5px;
    border: 1px solid black;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26)!important;
}
.login-title{
    margin-left: 180px;
}
.btn-login {
    width: 120px;
    text-align: center;
    border-radius: 10px;
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 5px;
    border: 1px solid black;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26)!important;
}
.reg-title{
    margin-left: 60px;
}
.reg-title a {
    text-decoration: none;
    color: rgb(4, 117, 238);

}
#login {
    display: block;
}
.tab {
    overflow: hidden;
    display: table;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color: #ccc;
}