*{
    padding: 0px;
    margin: 0px;
}
.form-title{
    font-weight: bolder;
    text-align: center;
    padding-top: 30px;
}
.container{
    width: 600px;
    background-color: #a9b3c9;
    border-radius: 10px;
}
.form-group{
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.lb{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.forgot-pass{
    color: black;
    margin-left: 420px;
    padding-bottom: 10px;
    /*background-color: red;*/

}

.btn-login {
    width: 120px;
    text-align: center;
    border-radius: 10px;
    margin-left: 225px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.reg-title{
    margin-left: 60px;
}