*{
    padding: 0px;
    margin-bottom: 40px;
}
html{
    margin-bottom: 40px;
}
.menu-sidebar__content{
    width: 200px;
    margin-top: 100px;
    margin-left: 50px;
    float: left;
}

.navbar-sidebar{
    background: #a9b3c9;
    border-radius: 5px;
    padding: 20px 20px 10px 20px;
    text-align: center;
    border: solid 1px;
}
.navbar__single{
    padding: 3px 5px 3px 5px;
    margin-top: 10px;
    background: #f4f2fa;
    border-radius: 5px;
    border: solid 1px;

}

.navbar__single a{
    color: black;
}
.navbar-sidebar a:active{
    color:  white;
}

.product__modify__content {
    float: left;
    width: 75%;
    background: aliceblue;
    margin-top: 100px;
    margin-left: 70px;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    border: solid 1px;

}
.modify-product{
    margin-top: 30px;
    margin-left: 15px;
    width: 400px;
}
.modify-form{
    margin-top: 30px;
}
.form__input{
    width: 400px;
}
.error__message{
    color: red;
}
.modify__button{
    margin-top: 20px;
}
.mod__btn{
    padding: 5px 5px 5px 5px;
}
.table{
    margin-left: 5px;
    margin-top: 30px;
    border: solid black;
}
.table th, table td{
    font-weight: bolder;
    text-align: center;
    border: solid black;
}

.product {
    border: solid 1px rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    width: 225px;
    height: 280px;
    margin: 25px 26px;
}
.product:hover {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26)!important;
}
.product__header {
    max-width: 300px;
    max-height: 144px;
}
.product__header img {
    width: 230px;
    height: 144px;
}
.product__details {
    border-top: 1px solid rgba(0, 0, 0, 0.26);
    padding: 0.5rem;
    height: 98px;
}
.product__details--name {
    padding-bottom: 10px;
    text-align: left;
}
.product__details--name a {
    text-decoration: none;
    color: black;
}
.product__details--price {
    text-align: left;
    text-decoration: none;
}
.product__deatails--onStock {
    text-align: left;
    text-decoration: none;
}
.product__footer {
    border-top: 1px solid rgba(0, 0, 0, 0.26);
    padding: 0.5rem;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 36px;
    background-color: rgba(104, 99, 99, 0.26);
}
.product__footer a {
    position: relative;
    align-items: center;
    left: 30%;
}