*{
    padding: 0px;
    margin : 0px;
}
html{
    margin-bottom: 40px;
}
.menu-sidebar__content{
    width: 200px;
    margin-top: 100px;
    margin-left: 50px;
    float: left
}

.navbar-sidebar{
    background: #a9b3c9;
    border-radius: 5px;
    padding: 20px 20px 10px 20px;
    text-align: center;
    border: solid 1px;
}
.navbar__single{
    padding: 3px 5px 3px 5px;
    margin-top: 10px;
    background: #f4f2fa;
    border-radius: 5px;
    border: solid 1px;

}

.navbar__single a{
    color: black;
}
.navbar-sidebar a:active{
    color:  white;
}

.user__modify__content {
    float: left;
    width: 75%;
    background: aliceblue;
    margin-top: 100px !important;
    margin: 20px;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    border: solid 1px;

}
.modify-user{
    margin-top: 30px;
    margin-left: 15px;
    width: 400px;
}
.modify-form{
    margin-top: 30px;
}
.form__input{
    width: 400px;
}
.error__message{
    color: red;
}
.modify__button{
    margin-top: 20px;
}
.table{
    margin-left: 5px;
    margin-top: 30px;
    border: solid black;
}
.table th, table td{
    font-weight: bolder;
    text-align: center;
    border: solid black 1px;
}