* {
    margin: 0px;
    padding: 0px;
    font-size: 16px;


}

.container {
    margin: auto;
    margin-top: 50px;
    width: 900px;
    height: 600px;
    padding-top: 45px;
    border-radius: 30%;
}
.container::before{
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(93,84,240,0.5);
    background: -webkit-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background: -o-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background: -moz-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background: linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    pointer-events: none;
}
.form {
    margin: auto;
    width: 35%;
    height: 85%;
    border-radius: 05%;
    background-color: #fcf0f9;
}

.content {
    float: left;
    margin-top: 50px;
    margin-left: 110px;
    margin-bottom: 25px;
    color: darkolivegreen;
}

.content h1 {
    font-size: 30px;
}

.username {
    width: 100%px;
    margin: 0 60px 20px 50px;
    color: limegreen;
}

input[type=username]:hover,
input[type=password]:hover {
    cursor: pointer;
}

input[type=username]:focus,
input[type=password]:focus {
    outline: none;
    font-weight: bolder;
}

input[type=username],
input[type=password] {
    border: none;
    color: darkolivegreen;
    border-radius: 15px;
    padding: 12px;
    box-shadow: 2px 2px 10px 2px #8b8b8b;
}

input[type=username],
input[type=password] {
    color: yellowgreen;
    font-weight: bolder;
    margin-left: 40px;
    margin-top: 20px;

}
.container .form .password {
    width: 100%;
    margin: 0 60px 20px 50px;
    color: #7200ff;
}

.btn_sign_in {
    margin-left: 75px;
    background-color: mediumseagreen;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    color: white;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 15px;
    width: 50%;
    box-shadow: 1px 5px 15px 2px darkolivegreen;
}
.btn_sign_in:hover {
    background-color: green;
    border: none;
}

.note{
    color: black;
    font-size: 15px;
    font-weight: bolder;
    margin-left: 115px;
    margin-bottom: 25px;
}

.fb {
    height: 40px;
    width: 40px;
    float: left;
    padding: 4px;
    margin-left: 100px;
    border-radius: 30px;
    box-shadow: 1px 1px 10px 1px#8e8e8e;
    margin-bottom: 45px;
}
.fbicon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.fb:hover {
    background-color: deepskyblue;
}

.fb .fa {
    margin-top: 6px;
    margin-left: 10px;
    color: blue;
}

.fb .fa:hover {
    color: white;
}

.gg {
    float: left;
    height: 48px;
    width: 48px;
    border-radius: 30px;
    box-shadow: 1px 1px 10px 1px#8e8e8e;
    margin-left: 10px;
}
.ggicon {
    margin-top: 2.5px;
    margin-left: 2.5px;
    height: 40px;
    width: 40px;
}
.gg:hover {
    background-color: red;
}

.fa {
    margin-top: 8px;
    margin-left: 11px;
    color: red;
}

.fa:hover {
    color: white;
}

.sign_up {
    clear: both;
    margin-left: 125px;

}

.sign_up a {
    text-decoration: none;
    color: black;

}

.sign_up a:hover {
    color: darkblue;
}